.jumbotron {
    background-color: yellow;
    color: black;
}

footer {
    background-color: yellow;
    margin-bottom: 0;
    margin-top: 10px;
}

.card-hotel {
    display: flex;
    flex-direction: column;
    flex: 1 200px; /* cuantas unidades crecerá el flex-item para rellenar el espacio | tamaño base principal (ancho) */
    margin-top: 5px;
}

.btn-reserva {
    width: 100%;
    border-radius: 0;
}

.footer-addres-icon {
    padding-right: 10px;
}